@{
    Layout = "~/Views/Shared/_ContextActionLayout.cshtml";
    
    ViewBag.Title = "Создать новый план";
    ViewBag.ActionUrl = Url.Action("Register", "Search");
    ViewBag.Method = "get";

    var actionId = ViewBag.ActionId as string;
    var plansFlowKey = ViewBag.PlanFlowKey as string;
    var currentYear = DateTime.Now.Year;
    var prevYear = DateTime.Now.Year - 1;
    var nextYear = DateTime.Now.Year + 1;
    var selectedYear = currentYear;
}

<div class="create-plan-settings-content">
    <input type="hidden" name="searchTemplateName" value="@ViewBag.SearchTemplateName" />
    <input name="flowKey" type="hidden" value="@plansFlowKey"/>
    <input name="actionId" type="hidden" value="@actionId" />

    <div class="form-group clearfix create-plan-settings-content__years">
        <span class="control-label">Год закупки:</span>
        <div class="radio">
            <label>
                <input type="radio" data-name="prevYear" name="planYear" value="@prevYear" @(prevYear == selectedYear ? "checked" : "")/>
                <span>@prevYear</span>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" data-name="curYear" name="planYear" value="@currentYear" @(currentYear == selectedYear ? "checked" : "")/>
                <span>@currentYear</span>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" data-name="nextYear" name="planYear" value="@nextYear" @(nextYear == selectedYear ? "checked" : "")/>
                <span>@nextYear</span>
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox" name="planInnovative" title="Инновационный" readonly="true"/>
                <span>Инновационный</span>
                <input type="hidden" name="planInnovative" value="false"/>
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox" name="planExtended" title="Расширенный"/>
                <span>Расширенный</span>
                <input type="hidden" name="planExtended" value="false"/>
            </label>
        </div>
    </div>
</div>
